{{db_service_name | title}} username:root 
{{db_service_name | title}} password:{{mysql_root_password | default('Websoft9',true)}}

{% if (app_db is defined ) and (app_db != None) %}
---For {{ app_db | title  }} Installation Wizard--

hostname:{{app_db_host}}
database name:{{app_db}}
database username:{{app_db_user}}
database password:{{app_db_password}}

{% endif %}
